{% extends "base.html" %}

{% block title %}
    Forgot password
{% endblock %}

{% block main %}
    <div class="card" style="margin: 2em">
        <div class="card-header">
            Login to our forum. Or <a href="/register">register</a> if you are still not with us.
          </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>We have emailed you with your new password</p>
        </blockquote>
          <form method="post">
              <a href="/login" type="submit" class="btn btn-primary">Oh, thank you!</a>
          </form>
      </div>
    </div>
{% endblock %}
