{% extends "base.html" %}

{% block title %}
    Forgot password
{% endblock %}

{% block main %}
    <div class="card" style="margin: 2em">
        <div class="card-header">
            Login to our forum. Or <a href="/register">register</a> if you are still not with us.
          </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Yeeeah. Another one. Fine. Let's recover your password.</p>
        </blockquote>
          <form method="post">
              <div class="mb-3">
                <label for="login_form" class="form-label">Email</label>
                <input type="email" placeholder="bill@microsoft.com" class="form-control"  id="login_form" name="email" aria-describedby="emailHelp">
              </div>
              <button type="submit" class="btn btn-primary">Send me an email</button>
          </form>
      </div>
    </div>
{% endblock %}
